
 
h1 {
   margin-top: 50px;
   margin-bottom: 50px;
   margin-right: 20px;
   margin-left: 20px;
   font-family: sans-serif;
   text-transform: uppercase;
   color: #000;
   -webkit-text-fill-color: LightCyan;
   -webkit-text-stroke-width: 2px;
   text-shadow: 2px 2px 5px black;
}
h3 {
    text-shadow: 2px 2px 5px black;
}
p {
    
    background-color: black;
    opacity: .8;
    
}
ul {
    background-color: black;
    opacity: .8;
   }

li:last-child {
    border-bottom: none;
}
