body {
  margin: 0;
}
h1 {
  font-size: x-large;
  margin: 35;
}
p {
    display: block;
    margin-top: 1em;
    margin-bottom: 1em;
    margin-left: 0;
    margin-right: 0;
}
ul {
    border: 1px solid white;
}

li {
    text-align: center;
   
}

li:last-child {
    border-bottom: none;
}
