body {
  margin: 0;
}
h1 
{
  font-size: x-large;
  margin: 0;
  background-color: black;
  opacity: .8;
  color: white;
  text-align: left;
}
p
{
    display: block;
    margin-top: 1em;
    background-color: black;
    opacity: .8;
    margin-bottom: 1em;
    margin-left: 0;
    margin-right: 0;
}
ul {
    border: 1px solid white;
   }

li:last-child {
    border-bottom: none;
}
