body {
	background: url(../media-folder/bigmount.jpeg) no-repeat;
	background-size: cover;
	background-attachment: fixed;
	font-family: Arial;
	color: white;
}	
ul {
	
	padding: 14px 16px;
	list-style:none;
	font-size: 17x;

}
ul li {
	float: left;
	text-align: center;
	background-color: black;
	opacity: .8;

}
ul li a {
	text-decoration: none;
	color: white;
	display: block;
}
ul li a:hover {
	background-color: green;
}
img {
    opacity: 0.8;
    filter: alpha(opacity=50);
}
img:hover {
    opacity: 1.0;
    filter: alpha(opacity=100); 
}
