body
{
    background-color: LightGray;
}
h1 
{
    color: black;
    margin-left: 20px;
}
p 
{
    font-family: "Times New Roman", Lucida Console, serif;
}

li{
   list-style:square;
}
nav {
  width: 100%;
  background-color: grey;
}
  nav a {
    display: block; 
    
 }
  nav a:hover {
  }
  #logo {
  }
nav a {
    display: block;
    float: left;
    font-family: sans-serif;
    font-size: 9px;
    color: white;
    background-color: khaki;
    border: 1px solid #000;

    padding-top: 20px;
    padding-right: 10px;
    padding-bottom: 10px;
    padding-left: 10px;

    text-decoration: none;
}
 
